.blog-landing-page {
  &__featured {
    img {
      max-height: 60vh;
      object-fit: cover;
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
  }

  &__items {
    flex-basis: 0;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    min-height: 50vh;
  }
}
