.hero {
  display: grid;
  grid-template-columns: 100%;
  min-height: 80vh;
  gap: get-size('400') 0;
  padding: get-size('300') 0 get-size('500') 0;

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
  }

  @include media-query('md') {
    grid-template-columns: repeat(12, 1fr);
    gap: 0 $global-gutter;

    &__title,
    &__footer {
      grid-column: 1/13;
    }

    &__summary {
      grid-column: 8/13;

      > * {
        max-width: 28ch;
      }
    }

    &__footer {
      padding-top: get-size('600');
    }
  }
}
