.landing-page {
  &__section {
    display: flex;
    flex-wrap: wrap;
  }

  &__intro {
    justify-content: space-between;

    > figure {
      flex-basis: 40rem;
    }

    > .flow {
      flex-basis: 30rem;
    }
  }
}
