{% set assetHash = global.random() %}

{% macro circleText(text, id) %}
<svg class="[ circle-text ] [ box-hidden md:box-block ]" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500">
  <defs>
    <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="{{ id }}">
    </path>
  </defs>
  <text textLength="1220">
    <textPath xlink:href="#{{ id }}">{{ text }}</textPath>
  </text>
</svg>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.njk" %}

    <link rel="stylesheet" href="/css/global.css?{{ assetHash }}" />
    <link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />

    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %}
  </head>
  <body class="{{ bodyTokens }}">
    {% include "partials/site-head.njk" %}

    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>

    {% include "partials/site-foot.njk" %}

    <script src="/js/audio-player.js?{{ assetHash }}" defer type="module"></script>
    <script src="/js/burger-menu.js?{{ assetHash }}" defer type="module"></script>
    <script src="/js/fade-in.js?{{ assetHash }}" defer type="module"></script>
  </body>
</html>
