{% extends "layouts/base.njk" %} 

{% block content %}
<div class="wrapper flow">
  <h2 class="eyebrow">What we do</h2>
  <h3 class="headline">
    <span class="dot" role="presentation"></span>
    <span>Move fast, & <em>make things</em></span>
  </h3>
</div>
{% endblock %}
