{% extends "layouts/base.njk" %} 

{% block content %}
<div class="wrapper">
  <article class="hero">
    <h1 class="hero__title"><em>A Human Future</em> is a software development studio.</h1>
    <div class="[ hero__summary ] [ flow flow-space-300 ]">
      <p class="font-mono color-primary text-300" aria-hidden="true" role="presentation">[Hello]</p>
      <p>We build digital <em>products</em>, <em>platforms</em> and <em>prototypes</em> that help motivated organisations pull the future towards them, faster.</p>
    </div>
    <footer class="hero__footer">
      <p class="font-mono color-primary text-300" aria-hidden="true" role="presentation">CBG & LDN & BER<sup>[2]</sup></p>
      <button class="[ link-button ] [ text-300 ]">Launch Terminal _></button>
    </footer>
  </article>
</div>
<div class="wrapper" data-type="narrow">
  <article class="[ landing-page ] [ flow ]">
    <div class="landing-page__intro landing-page__region">
      <figure class="toggle-caption">
        <picture class="toggle-caption__media">
          <source srcset="/images/home-1.avif" type="image/avif" />
          <source srcset="/images/home-1.webp" type="image/webp" />
          <img src="/images/home-1.jpg" alt="ADD PROPER ALT" /> 
        </picture>
        <figcaption class="toggle-caption__text">二兎を追う者は一兎をも得ず</figcaption>
      </figure> 
      <section class="flow">
        <h2 class="eyebrow">Who we are</h2>
        <p>A Human Future is a remote team of software developers, user experience specialists and product development experts.  HQ is in Cambridge, England, but that’s usually not very important, because we are, indeed, Extremely Online.</p>
        <p>The studio exists with a singular calling - to meet nasty digital problems with modern, elegant solutions - and launch brilliant products that help our clients grow quickly, intentionally, and safely.</p>
        <picture class="flow-space-600">
          <source srcset="/images/home-2.avif" type="image/avif" />
          <source srcset="/images/home-2.webp" type="image/webp" />
          <img src="/images/home-2.jpg" alt="ADD PROPER ALT" /> 
        </picture>
      </section>
    </div>
    <div class="landing-page__bridge">
      <h2 class="eyebrow">What we do</h2> 
      <h3 class="[ headline ] [ text-800 flow-space-400 ]">
        <span class="dot" role="presentation"></span>
        <span>We move fast & <em>make things</em></span>
      </h3> 
    </div>
    <div class="landing-page__intro landing-page__region">

    </div>
    <div class="landing-page__bridge">
      <h2 class="eyebrow">How we get it done</h2> 
      <h3 class="[ headline ] [ text-800 flow-space-400 ]">
        <span class="dot" role="presentation"></span>
        <span><em>Care is the motive</em>, & impact is the mission.</span>
      </h3> 
    </div>
  </article>
</div>
{% endblock %}
