.generic-content {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  h2 {
    font-size: get-size('600');
  }

  h3,
  h4 {
    font-size: get-size('500');
  }

  :is(h2, h3, h4) {
    --flow-space: #{get-size('700')};

    & + * {
      --flow-space: #{get-size('400')};
    }
  }

  img {
    width: 100vw;
    max-width: 50rem;
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
