.fade-in {
  &[data-state='visible'] {
    transition: transform 700ms $global-bezier 500ms, opacity 500ms $global-bezier 800ms;
  }

  &[data-state='hidden'] {
    transform: translateY(2ex);
    opacity: 0;
  }
}
