---
title: 'Blog post'
---

{% extends "layouts/base.njk" %}

{% block content %}
<div class="wrapper">
  <article class="[ content-page ] [ flow ]">
    <img class="content-page__intro-img" src="https://source.unsplash.com/random/800x600" alt="" />
    <div><time datetime="2021-06-11" class="font-mono color-primary">11 June 2021</time></div>
    <h1 class="text-700 flow-space-400"><em>20 Things I Wish I Knew When I Started Programming.</em></h1>
    <div class="[ content-page__main ] [ generic-content ] [ flow ]" data-type="narrow">
      <p>Frontend web development standards and trends change faster than they can be implemented. This makes it difficult for developers to separate the wheat from the chaff; the game-changing trends from the fads.</p>
      <p>In this blog post, we have shared our thoughts and predictions for front-end development trends in 2021. Read this blog to know more about the latest in the front-end realm. You can also understand how these trends will affect the front-end landscape, as well as your front-end development journey.</p>
      <p>Single Page Apps (SPAs) are making the web more vibrant and powerful. However, there is a serious impediment to the widespread adoption of SPAs. They are not SEO-friendly which is really critical for growing your online businesses.</p>
      <p>To overcome the obstacle, creative minds focused their efforts on developing unique solutions, which is why we are discussing Gatsby today. The creators of solutions such as Next.js and Gatsby recognized this issue and took steps to address it. This is where static site rendering (Gatsby) enters the picture.</p>
      <img src="https://source.unsplash.com/random/800x600" alt="" />
      <p>This is primarily due to the excellent developer experience it provides. <a href="#">Gatsby is the single fastest-growing framework</a>, according to the Gatsby Market Report (May 2021).</p>
      <ol>
        <li>JavaScript Will Continue its Reign</li>
        <li>Powerful Gatsby</li>
        <li>Most loved framework ReactJS</li>
        <li>Jamstack in Action</li>
      </ol> 
      <p>Frontend web development standards and trends change faster than they can be implemented. This makes it difficult for developers to separate the wheat from the chaff; the game-changing trends from the fads.</p>
      <h2>Standards and trends change</h2>
      <p>Frontend web development standards and trends change faster than they can be implemented. This makes it difficult for developers to separate the wheat from the chaff; the game-changing trends from the fads. </p>
      <hr />
      <p>Frontend web development standards and trends change faster than they can be implemented. This makes it difficult for developers to separate the wheat from the chaff; the game-changing trends from the fads.</p>
      <p>In this blog post, we have shared our thoughts and predictions for front-end development trends in 2021. Read this blog to know more about the latest in the front-end realm. You can also understand how these trends will affect the front-end landscape, as well as your front-end development journey.</p>
      <h3>A heading goes here for Andy</h3>
      <p>Single Page Apps (SPAs) are making the web more vibrant and powerful. However, there is a serious impediment to the widespread adoption of SPAs. They are not SEO-friendly which is really critical for growing your online businesses.</p>
      <p>To overcome the obstacle, creative minds focused their efforts on developing unique solutions, which is why we are discussing Gatsby today. The creators of solutions such as Next.js and Gatsby recognized this issue and took steps to address it. This is where static site rendering (Gatsby) enters the picture.</p>
      <p>This is primarily due to the excellent developer experience it provides. Gatsby is the single fastest-growing framework, according to the Gatsby Market Report (May 2021).</p>
    </div>
  </article>
</div>
{% endblock %}