// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';

// Global styles start

body {
  background: get-color('light');
  color: get-color('dark');
  line-height: 1.5;
  font-size: get-size('400');

  @include apply-utility('font', 'base');
}

* {
  cursor: url('/images/cursor.svg'), auto;
}

a:not([class]) {
  color: currentColor;
}

:focus {
  outline: 2px dashed get-color('primary');
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  @include apply-utility('leading', 'flat');
}

h1 {
  font-size: get-size('800');
}

h2 {
  font-size: get-size('700');
}

h3 {
  font-size: get-size('600');
}

h4 {
  font-size: get-size('500');
}

em {
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: get-color('primary');
  text-decoration-thickness: 1ex;
  text-underline-offset: -1.25ex;
  text-decoration-skip-ink: none;
  // To enable this in webkit, uncomment
  // text-decoration-skip: none;
}

a:not([class]) {
  color: get-color('secondary');

  &:hover {
    text-decoration: none;
  }
}

ul:not([class]) {
  padding: 0 0 0 1.2em;
}

ol:not([class]) {
  padding: 0 0 0 2.2em;

  @include apply-utility('font', 'mono');
}

ul:not([class]),
ol:not([class]) {
  @include apply-utility('font', 'mono');

  > * + * {
    margin-top: 0.5em;
  }
}

p,
li,
blockquote {
  @include apply-utility('measure', 'long');
}

marquee {
  text-transform: uppercase;

  ul,
  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  ul:not([class]) > li + li {
    margin-top: 0;
  }

  li + li::before {
    content: '·';
    color: get-color('secondary');
    font-size: 2em;
  }
}

// Import compositions

// Import blocks
@import 'blocks/brand';
@import 'blocks/burger-menu';
@import 'blocks/button';
@import 'blocks/eyebrow';
@import 'blocks/headline';
@import 'blocks/link-button';
@import 'blocks/site-head';
@import 'blocks/skip-link';

// Import utilities
@import 'utilities/dot';
@import 'utilities/flow';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
