<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head [ pad-block-300 text-300 ]">
  <div class="[ site-head__inner ] [ splitter ] [ wrapper ]">
    <div class="line-highlight">
      <a href="/" class="brand">
        <span class="dot" role="presentation"></span>
        <span>{{ site.name }}</span>
      </a>
    </div>
    <div class="splitter__group">
      <div class="line-highlight">2021</div>
      <div class="[ line-highlight ] [ audio ]">
        audio
      </div>
    </div>
  </div>
  {% include "partials/burger-menu.njk" %}
</header>
