<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ] [ text-300 {% if siteHeadColor %}bg-{{ siteHeadColor}}{% endif %} ]">
  <div class="[ site-head__inner ] [ splitter ] [ wrapper ]">
    <div class="line-highlight">
      <a href="/" class="brand">
        <span class="dot {% if siteHeadHighlight %}color-{{ siteHeadHighlight }}{% else %}color-primary{% endif %}" role="presentation"></span>
        <span>{{ site.name }}</span>
      </a>
    </div>
    <div class="splitter__group">
      <div class="line-highlight">2021</div>
      <div class="line-highlight" data-audio-player="parent" hidden>
        <button class="[ audio-toggle ] [ link-button ] [ color-dark ]" data-audio-player="trigger">
          <span data-audio-player="label">Audio Off</span>
          <svg 
            class="audio-toggle__animation {% if siteHeadHighlight %}color-{{ siteHeadHighlight }}{% else %}color-primary{% endif %}" 
            width="18" 
            height="11" 
            viewBox="0 0 18 11" 
            fill="none" 
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
          >
            <rect y="3" width="2" height="8" fill="currentColor" style="--audio-scale: 125%; --audio-delay: 200ms;"/>
            <rect x="4" width="2" height="11" fill="currentColor" style="--audio-scale: 25%; --audio-delay: 150ms;" />
            <rect x="8" y="4" width="2" height="7" fill="currentColor" style="--audio-scale: 125%; --audio-delay: 600ms;" />
            <rect x="12" y="6" width="2" height="5" fill="currentColor" style="--audio-scale: 195%; --audio-delay: 500ms;" />
            <rect x="16" width="2" height="11" fill="currentColor" style="--audio-scale: 15%; --audio-delay: 100ms;" />
          </svg>
        </button>
        <audio data-audio-player="player" loop controls src="/audio/temp.mp3" class="visually-hidden"></audio>
      </div>
    </div>
  </div>
  {% include "partials/burger-menu.njk" %}
</header>
